<h3>Alle Bücher</h3>


<table>
  <tr>
    <th>Autor</th>
    <th>Buch</th>
  </tr>
    <% @authors.each do | auth  | %>
      <tr>
        <td><%= auth.name %></td>
        <td>
            <% auth.books.each do | book | %>
                <br><%= book.title %><br><br>
            <% end %>
        </td>
      </tr>
    <% end %>
</table>
