<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Book:</strong>
  <%= @comment.book %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<%#= link_to 'Edit', edit_comment_path(@comment.id) %> |
<%#= link_to 'Back', comments_path %>
